$primary-color: #ff5933;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;

.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 100%;
  margin-top: 4rem;

  .about__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;

    .about__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .about__title {
        align-self: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          text-decoration: line-through;
          animation: strike 0.2s ease-in-out;
        }
      }

      .about__text {
        max-width: 100%;
        text-align: center;
      }
    }
  }
}

@media (min-width: $sm-breakpoint) {
  .about {
    gap: 6rem;
    margin-top: 6rem;
  }
}

@media (min-width: $md-breakpoint) {
  .about {
    .about__content-wrapper {
      flex-direction: row;
      width: fit-content;
      align-items: center;

      .about__content {
        align-items: flex-start;

        .about__title {
          align-self: flex-end;
          font-size: 2.5rem;
        }

        .about__text {
          max-width: 84rem;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .about {
    .about__content-wrapper {
      align-items: flex-start;
    }
  }
}
