$black-color: #050505;
$primary-color: #ff5933;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
  position: relative;
  text-align: center;

  .contact__email {
    all: unset;
    cursor: pointer;
    font-size: 1.25rem;

    span {
      transition: all 0.2s ease-in-out;
    }

    &:hover > span {
      color: $primary-color;
    }
  }

  .contact__social-medias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .contact__shape {
    width: 8rem;
    height: 8rem;
    animation: rotate 3s linear infinite;
  }

  .contact__shape-1 {
    position: static;
    margin-top: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12rem;
    text-align: left !important;

    .contact__email {
      font-size: 1.5rem;
    }

    .contact__social-medias {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .contact__shape {
      width: 6rem;
      height: 6rem;
    }

    .contact__shape-1 {
      position: absolute;
      left: 0;
      bottom: -3.8rem;
      margin-top: 0;
    }
  }
}
