$primary-color: #ff5933;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;

  .home__content {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    .home__large-text {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;

      .row {
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .normal-text {
          font-size: 1rem;
          font-weight: normal;
        }

        .fake-btn {
          display: flex;
          background-color: $primary-color;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 1.5rem;
          border-radius: 4rem;
        }
      }

      .desktop-designer {
        display: none;
      }
      .mobile-designer {
        display: inline;
      }
    }

    .home__shape {
      width: 3.5rem;
      height: 3.5rem;
    }

    .home__shape-1 {
      position: absolute;
      right: 0rem;
      bottom: 3rem;
    }

    .home__shape-2 {
      position: absolute;
      left: 0rem;
      bottom: 3rem;
    }
  }
}

@media (min-width: $md-breakpoint) {
  .home {
    .home__content {
      .home__large-text {
        font-size: 3rem;

        .desktop-designer {
          display: inline;
        }
        .mobile-designer {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .home {
    margin-top: 6rem;

    .home__content {
      width: fit-content;

      .home__large-text {
        font-size: 5rem;
        text-align: left;

        .row {
          align-items: self-start;
        }

        .desktop-designer {
          display: inline;
        }
        .mobile-designer {
          display: none;
        }
      }

      .home__shape-1 {
        top: 0rem;
        right: 0rem;
      }

      .home__shape-2 {
        top: 5rem;
        left: auto;
        right: 0rem;
      }
    }
  }
}

@media (min-width: 1220px) {
  .home {
    .home__content {
      .home__large-text {
        .row {
          flex-direction: row;
          align-items: center;
        }
      }

      .home__shape-1 {
        top: auto;
        bottom: 0rem;
        right: 0rem;
      }

      .home__shape-2 {
        top: auto;
        bottom: 5rem;
        right: 0rem;
      }
    }
  }
}
