$primary-color: #ff5933;
$black-color: #050505;
$lg-breakpoint: 992px;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .navbar__shape {
    position: absolute;
    top: -5.5rem;
    width: 8rem;
    height: 8rem;
    animation: rotate 3s linear infinite;
  }

  .navbar__title {
    cursor: pointer;
    z-index: 101;
    font-size: 2rem;
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: $black-color;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);

    &.is-active {
      transform: translateX(0);
    }

    .navbar__options {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .navbar {
    justify-content: space-between;

    .navbar__title {
      font-size: 1rem;
    }

    .navbar__menu {
      position: static;
      transform: none;
      flex-direction: row;
      height: auto;
      width: auto;
      background: transparent;
      gap: 2rem;

      .navbar__options {
        flex-direction: row;
        font-size: 1rem;
      }
    }
  }
}
