$black-color: #050505;
$gray-color: #3f3f3f;
$primary-color: #ff5933;
$lg-breakpoint: 992px;

.carousel {
  .slider-container {
    cursor: url("/favicon.ico"), auto;

    &:hover {
      cursor: url("/favicon.ico"), pointer;
    }
  }
}

.carousel__controls {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;

  .carousel__buttons {
    display: flex;
    gap: 1rem;
  }

  @media (min-width: $lg-breakpoint) {
    justify-content: flex-start;
  }
}
