$md-breakpoint: 768px;

footer {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;

  .footer__copyright {
    font-size: 0.8rem;
    font-weight: 300;
    align-self: center;

    @media (min-width: $md-breakpoint) {
      align-self: flex-end;
    }
  }
}
