$black-color: #050505;
$gray-color: #3f3f3f;
$primary-color: #ff5933;
$md-breakpoint: 768px;

@font-face {
  font-family: "MADE Outer Sans";
  src: url("../public/fonts/MADE-Outer-Sans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("../public/fonts/MADE-Outer-Sans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("../public/fonts/MADE-Outer-Sans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MADE Outer Outline Sans";
  src: url("../public/fonts/MADE-Outer-Sans-Outline-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "MADE Outer Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
  /* Code for Firefox */
  background: $gray-color;
}

::selection {
  background: $gray-color;
}

body {
  background-color: $black-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1.5rem;

  @media (min-width: $md-breakpoint) {
    margin: 1.5rem 6rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Common styles
.outline-btn {
  all: unset;
  cursor: pointer;
  border: 2px solid $primary-color;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  color: $primary-color;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $primary-color;
    color: white;
  }

  &:active {
    filter: brightness(1.25);
  }
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

.hover-primary-color {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}

.text-primary {
  color: $primary-color;
}

.text-outline {
  font-family: "MADE Outer Outline Sans", sans-serif;
}

.text-2xl {
  font-size: 2rem;
}

.text-xs {
  font-size: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

hr.gray-line {
  width: 100%;
  border: 1px solid $gray-color;
}

// Custom scrollbar
/* size */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

// Animation for line-trough
@keyframes strike {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: currentColor;
  }
}

// Animation for rotating shapes
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
